# ---------------------------------------------------------
# System files
# ---------------------------------------------------------

.DS_Store

# ---------------------------------------------------------
# NPM files
# ---------------------------------------------------------

/node_modules
npm-debug.log

# ---------------------------------------------------------
# Test files
# ---------------------------------------------------------

test
